@model Evedance_Exam.ViewModels.TeacherVM

@{
    ViewData["Title"] = "Create";
}
<div class="container mx-auto">
    <div class="row">
        <div class="col-12">
            <h3>Create Teacher:</h3>
            <form method="post" asp-action="Create" asp-controller="Teachers" enctype="multipart/form-data">
                <div class="form-group row mb-2">
                    <label asp-for="TeacherName" class="col-form-label col-form-label-sm col-2"></label>
                    <div class="col-4">
                        <input type="text" asp-for="TeacherName" class="form-control form-control-sm" placeholder="Enter Teacher Name" />
                        <span asp-validation-for="TeacherName" class="text-danger" />
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label asp-for="ClassDate" class="col-form-label col-form-label-sm col-2"></label>
                    <div class="col-4">
                        <input type="text" asp-for="ClassDate" class="form-control form-control-sm" placeholder="Class of Date" />
                        <span asp-validation-for="ClassDate" class="text-danger" />
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label asp-for="Coursefees" class="col-form-label col-form-label-sm col-2"></label>
                    <div class="col-4">
                        <input type="text" asp-for="Coursefees" class="form-control form-control-sm" placeholder="Fees" />
                        <span asp-validation-for="Coursefees" class="text-danger" />
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label asp-for="SubjectId" class="col-form-label col-form-label-sm col-2"></label>
                    <div class="col-4">
                        <select asp-for="SubjectId" class="form-select form-select-sm" asp-items="@(new SelectList(ViewBag.Subjects, "SubjectId", "SubjectName"))" required>
                            <option selected="selected" value="">Select Subject</option>
                        </select>
                        <span asp-validation-for="SubjectId" class="text-danger" />
                    </div>
                </div>
                <div class="form-group row mb-2">
                    <label asp-for="Picture" class="col-form-label col-form-label-sm col-2"></label>
                    <div class="col-4">
                        <input type="file" asp-for="Picture" class="form-control form-control-sm" />
                        <span asp-validation-for="Picture" class="text-danger" />
                    </div>
                </div>
                <div class="form-group row my-1 align-middle">
                    <label asp-for="Continue" class="col-form-label col-form-label-sm col-2"></label>
                    <div class="col-4">
                        <input asp-for="Continue" type="checkbox" />
                        <span asp-validation-for="Continue" class="text-danger" />
                    </div>
                </div>


                <div class="form-group row mb-2">
                    <div class="col-4 offset-2">
                        <button type="reset" class="btn btn-secondary">Reset</button>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-outline-dark" asp-action="Index" asp-controller="Teachers"><i class="bi bi-layer-backward "></i>Back to Index</a>
        </div>
    </div>
</div>


@section styles {
    <link href="~/libs/datepicker/css/bootstrap-datepicker.standalone.css" rel="stylesheet" />
}
@section scripts {
    <script src="~/libs/jquery/jquery.js"></script>
    <script src="~/libs/jquery/jquery.validate.js"></script>
    <script src="~/libs/jquery/jquery.validate.unobtrusive.js"></script>
    <script src="~/libs/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/libs/jquery/ajax/jquery.unobtrusive-ajax.js"></script>
    <link href="~/libs/bootstrap.min.css" rel="stylesheet" />
    <script>
        $("#ClassDate").datepicker({
            format: "M dd, yyyy"
        });
    </script>
}