@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center text-info">
    <h1 class="display-4">Welcome</h1>
    
</div>
@*<p>
    People have been coming to the wise man, complaining about the same problems every time. One day he told them a joke and everyone roared in laughter.

    After a couple of minutes, he told them the same joke and only a few of them smiled.

    When he told the same joke for the third time no one laughed anymore.<br />

    The wise man smiled and said:<br />
    <strong >“You can’t laugh at the same joke over and over. So why are you always crying about the same problem?”</strong>
</p>*@

